[submodule "vendor/color-console"]
	path = vendor/color-console
	url = https://github.com/aafulei/color-console
[submodule "vendor/jsoncpp"]
	path = vendor/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "vendor/mINI"]
	path = vendor/mINI
	url = https://github.com/pulzed/mINI
[submodule "resources"]
	path = resources
	url = https://github.com/HatchesPls/GrandTheftAutoV-Cheat-Resources
